:root {
    --color-title: #4ecdc4;
    --color-fondo:#f7f7f7;
    --color-fondo-tarjeta:#fff;
    --color-parrafo:#7d7d7d;
    --color-hover-boton: #35a19a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-fondo)
}

main {
    height: 100vh;
}

.container-section {
    display: flex; 
    flex-wrap: wrap; /* Permitir que las tarjetas se muevan a la siguiente fila si no caben */
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
    background-color: var(--color-fondo); 
}

.container-article {
    width: 300px; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: var(--color-fondo-tarjeta);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.container-article h1 {
    font-size: 2rem;
    margin: 10px 20px 0 20px; 
    color: var(--color-title);
}

.container-article p {
    width: auto;
    margin: 10px 20px; 
    font-size: 1.4rem;
    color: var(--color-parrafo);
    text-align: start;
}

.container-article a {
    width: 100px;
    height: 40px;
    text-decoration: none;
    background-color: var(--color-title);
    color: var(--color-fondo-tarjeta);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin: 10px 20px 20px 20px; 
}

.container-article a:hover {
    background-color: var(--color-hover-boton);
    transition: 0.5s;
}

.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-image img {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px 10px 0 0; 
}

/* Responsividad */
@media (max-width: 768px) {
    .container-article {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .container-article {
        width: 100%; 
    }

    .container-article h1 {
        font-size: 1.8rem; /
    }

    .container-article p {
        font-size: 1.2rem; 
    }

    .container-article a {
        width: 80px; 
        height: 35px; 
        font-size: 1.2rem; 
    }
}